.popover {
    max-width: 75%;
}

.dash-spreadsheet .row {
  flex-wrap: nowrap;
}

.dash-spreadsheet.dash-freeze-left {
    max-width: none !important;
}

.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  margin: 4%;
}

.pretty_container {
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#header {
  align-items: right;
}

#title {
  text-align: center;
}

.mini_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 1px 1px 1px darkgray;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}
